a { 
    text-decoration: none; 
}
#namebanner {
    position: fixed;
    width: 15%;
    left: 2%;
    top: 0%;
}

ul {
    position: fixed;
    top: 45px;
    width: 80%;
    left: 20%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    width: 20%;
  }
li button {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 22px;
    width: 100%;
    border:2px solid lightgray;
}
#feed {
    background-color: lightgray;
}
#channels {
    background-color: white;
}
#challenges {
    background-color: lightgray;
}
#myaccount {
    background-color: lightgray;
}
#logout {
	background-color: lightgray;
	color: #ffff98;
	font-weight: bold;
}
#feed:hover, #recommended:hover, #search:hover, #channels:hover, #challenges:hover, #myaccount:hover, #logout:hover {
    background-color: grey;
    color: #ffff98;
}
#body {
    background-color: white;
}

#searchinput {
    position: fixed;
    top: 1%;
    width: 60%;
    left: 20%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    border: 2px solid black;
}
#inputbutton {
    position: fixed;
    top: 1%;
    width: 16%;
    right: 2%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #ccff98;
    border: 2px solid black;
}
#inputbutton:hover {
    background-color: grey;
    color: #ccff98;
}


#newchannel {
    position: relative;
    top: 100px;
    width: 22%;
    left: 77%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #ccff98;
    border: 2px solid black;
}
#newchannel:hover {
    background-color: grey;
    color: #ccff98;
}
