a { 
    text-decoration: none; 
}
#namebanner {
    position: fixed;
    width: 15%;
    left: 2%;
    top: 0%;
}

ul {
    position: fixed;
    top: 45px;
    width: 80%;
    left: 20%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li {
    float: left;
    width: 20%;
  }
li button {
    display: block;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 22px;
    width: 100%;
    border:2px solid lightgray;
}
#feed {
    background-color: lightgray;
}
#channels {
    background-color: lightgray;
}
#challenges {
    background-color: lightgray;
}
#myaccount {
    background-color: lightgray;
}
#logout {
	background-color: lightgray;
	color: #ffff98;
	font-weight: bold;
}
#feed:hover, #recommended:hover, #search:hover, #channels:hover, #challenges:hover, #myaccount:hover, #logout:hover {
    background-color: grey;
    color: #ffff98;
}
#body {
    background-color: white;
}

#searchinput {
    position: fixed;
    top: 1%;
    width: 60%;
    left: 20%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    border: 2px solid black;
}
#inputbutton {
    position: fixed;
    top: 1%;
    width: 16%;
    right: 2%;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    color: black;
    background-color: #ccff98;
    border: 2px solid black;
}
#inputbutton:hover {
    background-color: grey;
    color: #ccff98;
}
#title {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    color: black;
    width: 100%;;
    text-align: center;
    top: 50px;
    font-weight: bold;
}
#nametext {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 20px;
    height:5%;
    top: 175px;
    width: 50%;
    left: 25%;
}
#name {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 20px;
    height:5%;
    top: 200px;
    width: 50%;
    left: 25%;
    border: 3px solid lightgrey;
}
#descriptiontext {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 20px;
    height:5%;
    top: 275px;
    width: 50%;
    left: 25%;
}
#description {
    width: 50%;
    left: 25%;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height:5%;
    top: 300px;
    border: 3px solid lightgrey;
}
#startdatetext {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 20px;
    height:5%;
    top: 375px;
    width: 50%;
    left: 25%;
}
#startdate {
    width: 50%;
    left: 25%;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height:5%;
    top: 400px;
    border: 3px solid lightgrey;  
}
#enddatetext {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-weight: lighter;
    font-size: 20px;
    height:5%;
    top: 475px;
    width: 50%;
    left: 25%;
}
#enddate {
    width: 50%;
    left: 25%;
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    height:5%;
    top: 500px;
    border: 3px solid lightgrey;  
}
#submit {
    position: fixed;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    width: 50%;
    height: 5%;
    top: 575px;
    left: 25%;
    text-align: center;
    background-color: #ccff98;
    border: 3px solid lightgrey;
    color: black;
}
#submit:hover {
    background-color: gray;
    color: #ccff98;
}